pipeline/Pause Dedicated Pool.json
{
	"name": "Pause Dedicated Pool",
	"properties": {
		"activities": [
			{
				"name": "Get List",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools?api-version=2019-06-01-preview')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "Filter_Prod",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get List').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(endswith(item().name,'prod'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_pool",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_Prod",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Prod').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CheckState",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools/',item().name,'?api-version=2019-06-01-preview')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						},
						{
							"name": "State-PauseOrResume",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "CheckState",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@concat(activity('CheckState').output.properties.status,'-',pipeline().parameters.PauseorResume)",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Paused-Resume",
										"activities": [
											{
												"name": "SQLPauseResume",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools/',activity('CheckState').output.name,'/resume?api-version=2019-06-01-preview')",
														"type": "Expression"
													},
													"connectVia": {
														"referenceName": "AutoResolveIntegrationRuntime",
														"type": "IntegrationRuntimeReference"
													},
													"method": "POST",
													"body": {
														"value": "\"Pause and Resume\"",
														"type": "Expression"
													},
													"authentication": {
														"type": "MSI",
														"resource": "https://management.azure.com/"
													}
												}
											}
										]
									},
									{
										"value": "Online-Pause",
										"activities": [
											{
												"name": "SQLOnlinePause",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools/',activity('CheckState').output.name,'/pause?api-version=2019-06-01-preview')",
														"type": "Expression"
													},
													"connectVia": {
														"referenceName": "AutoResolveIntegrationRuntime",
														"type": "IntegrationRuntimeReference"
													},
													"method": "POST",
													"body": "\"Pause and Resume\"",
													"authentication": {
														"type": "MSI",
														"resource": "https://management.azure.com/"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ResourceGroup": {
				"type": "string",
				"defaultValue": "supplychainsynapse"
			},
			"SubscriptionID": {
				"type": "string",
				"defaultValue": "3a99ffce-3379-4883-8224-ca35bbb5f4c8"
			},
			"WorkspaceName": {
				"type": "string",
				"defaultValue": "supply-chain-synapse"
			},
			"SQLPoolName": {
				"type": "string",
				"defaultValue": "AdventureWorks"
			},
			"PauseorResume": {
				"type": "string",
				"defaultValue": "Pause"
			}
		},
		"folder": {
			"name": "Other"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-02T22:20:36Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}